<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp iot uap2 uap4 uap3">

  <Identity
    Name="3c0c1226-1374-40f1-8725-e762c0540ec9"
    Publisher="CN=Robert"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="3c0c1226-1374-40f1-8725-e762c0540ec9" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Opus</DisplayName>
    <PublisherDisplayName>robjam1990</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Opus.App">
      <uap:VisualElements
        DisplayName="Opus"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Opus"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.updateTask"/>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="chat"/>
    <Capability Name="codeGeneration"/>
    <iot:Capability Name="lowLevelDevices"/>
    <uap:Capability Name="objects3D"/>
    <uap2:Capability Name="spatialPerception"/>
    <uap:Capability Name="userAccountInformation"/>
    <uap4:Capability Name="userDataTasks"/>
    <uap3:Capability Name="userNotificationListener"/>
    <uap3:Capability Name="remoteSystem"/>
    <DeviceCapability Name="lowLevel"/>
    <DeviceCapability Name="webcam"/>
    <DeviceCapability Name="microphone"/>
  </Capabilities>
</Package>