body {
  font-family: "Georgia", "Cambria", serif;
}

.Body {
  position: absolute;
  top: 0px;
  bottom: 70px;
  left: 0px;
  right: 0px;
}

.Footer {
  position: absolute;
  height: 70px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #EC8;
}

.TitleBox {
  position: absolute;
  font-family: "Gill Sans", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  color: #840;
  padding-left: 30px;
  padding-top: 22px;
}

.ButtonBox {
  text-align: right;
  padding: 16px 30px;
}

.ButtonBox button {
  -webkit-appearance: none;
  border-radius: 8px;
  border: 2px solid #C84;
  box-shadow: 1px 1px 3px 3px #F4E4CC;
  background: #DB8;
  font-size: 16px;
  font-family: "Georgia", "Cambria", serif;
  padding: 4px 8px;
}

.TextColumn {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 50%;
  background: #FFE4CC;
}

.GraphColumn {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  right: 0px;
  background: #FFE4CC;
}

.Text {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 2px;
  overflow-y: scroll;
  background: #FFF8EE;
  padding: 8px;
}

.Text h2 {
  font-family: "Gill Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 1.2em;
}

.Text p {
  margin-left: 1em;
  margin-right: 1em;
  text-indent: 1em;
  line-height: 1.3em;
}

.Text hr {
  margin: 1.75em 20%;
  border: none;
  height: 2px;
  background: #CBA;
}

.Text button {
  -webkit-appearance: none;
  border-radius: 8px;
  border: 2px solid #C84;
  background: #FEC;
  font-size: 16px;
  font-family: "Georgia", "Cambria", serif;
  padding: 4px 8px;
}

.Graph {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 2px;
  right: 4px;
  background: white;  
}

.Blurb {
  position: absolute;
  background: #DCB;
  bottom: 20px;
  left: 40px;
  right: 40px;
  border-radius: 12px;
}

.Blurb p {
  font-family: "Gill Sans", Helvetica, Arial, sans-serif;
  text-align: center;
}

.Hint {
  display: none;
  position: absolute;
  background: #DCB;
  color: #730;
  top: 120px;
  left: 40%;
  right: 20px;
  border-radius: 12px;
  pointer-events: none;
}

.Hint p {
  margin: 1em 2em;
  text-align: center;
}

#canvas {
  width: 100%;
  height: 100%;
}
